body {
    margin-bottom: 60px;
}

body.light-mode {
    color: #000 !important;
    background-color: #fff !important;
}

body.dark-mode {
    color: #fff !important;
    background-color: #000 !important;
}

body.light-mode #charCount {
    color: #000 !important;
}

body.dark-mode #charCount {
    color: #fff !important;
}

.card,
.card-glass,
.flap-form,
.flap-item {
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 20px;
    transition: 0.3s ease;
}

body.light-mode .card {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
}

body.dark-mode .card {
    background-color: #000; 
    border: 1px solid #2f3336; 
    color: #e7e9ea;
}

body.dark-mode .card:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05); 
}

.theme-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background: transparent;
    color: #e7e9ea;
    border: 1px solid #444;
    padding: 8px 14px;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease;
    }

body.light-mode .theme-btn {
    color: #000;
    border: 1px solid #ccc;
}

.main-content {
    margin-left: 230px;
}

.card:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

h1, h2, h3, h4, h5, h6, p, span, a, label, button {
    color: inherit;
}

#menu-toggle {
    display: none;
}

@media (max-width: 767px) {
    .main-content {
        margin-left: 0 !important;
        padding: 50px; 
    }

    .card,
    .card-glass,
    .flap-item {
        max-width: 100% !important;
        border-left: none !important;
        border-right: none !important;
        padding: 4px !important;
    }

    .sidebar {
        transform: translateX(-100%); 
        transition: transform 0.3s ease-in-out;
    }

        .sidebar.open {
            transform: translateX(0); 
        }

    #menu-toggle {
        display: flex; 
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 15px;
        left: 15px;
        width: 44px;
        height: 44px;
        border: none;
        background: rgba(25, 25, 25, 0.7);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        transition: transform 0.3s ease;
        z-index: 1100; 
        border-radius: 50%;
    }

        #menu-toggle .icon-close {
            display: none;
        }

        #menu-toggle.active .icon-open {
            display: none;
        }

        #menu-toggle.active .icon-close {
            display: block;
        }
}